@media (max-width: 600px) {
  form {
    flex-direction: column;
  }
  .task_value {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .task_date {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .task_importance {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .task_list {
    flex-direction: column;
  }
  .newtask {
    width: 100%;
    margin-left: none;
    margin: auto 0;
    margin-bottom: 10px;
  }
}
