* {
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
}

.header-list {
  display: inline-block;
}

.header-list a {
  padding: 0 20px 0 0;
  text-decoration: none;
  color: white;
}

.header-title {
  padding: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: row;
}

.task_value {
  margin-right: 10px;
}

.task_date {
  margin-right: 10px;
}

.task_importance {
  margin-right: 20px;
}

.newtask {
  border: solid;
  border-color: #cccccc;
  border-radius: 5px;
  width: 15%;
  margin-left: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.task_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto;
}
